{{ form_start(form) }}
<div class="form-group w-50 text-left m-5">
    {{ form_widget(form) }}
    <button class="btn btn-primary mr-5">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
